.parent-component{
    display: flex;
}

.child-component-1{
    flex: 75%;
    border-right: 2px solid grey;
    margin: 1rem;
}
.child-component-2{
    flex: 25%;
}

.sidebar-headings{
    font-size: 1.2rem;
    font-weight: 600;
}